/* footer {
    background-color: black;
    padding: none;
}

a{
    color: black !important;
    text-decoration: none !important;
}


html {
    scroll-behavior: smooth;
  }




.navbar-toggler {
    
    margin-left: 71vw;
    outline: none !important;
   
}

@font-face{
    font-family: bodyFont;
    src: url(../fonts/Now-Regular.otf);
}

@font-face{
    font-family: bodyFont2;
    src: url(../fonts/Now-Light.otf);
}


@font-face{
    font-family: bodyFont3;
    src: url(../fonts/Now-Bold.otf);
}



html {
    font-size: 15px;
} */

.navbar-nav {
    font-weight:500;
}

html {
    min-height: 100%;
}

@font-face {
    font-family: Raleway1;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway2;
    src: url(../fonts/Raleway/Raleway-Light.ttf);
}

@font-face {
    font-family: Raleway3;
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway4;
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
}

#overtext1{
    font-family: Raleway1;
}

#aboutdiv h2 {
    font-family: Raleway4;
}

#aboutdiv p, #learnmore {
    font-family: Raleway3;
}
#overtext2 {
    font-family: Raleway2;
}

body {
    width: 100%;
    min-height: 100vh;
}